.status {
  border-style: solid;
  border-width: 0.1rem;
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
  border-radius: 0.3rem;
  font-size: 0.85em;
  padding: 0.5em 1em;
}

.status-open {
  background: lightgreen;
  color: green;
}
.status-closed {
  background: lightskyblue;
  color: dodgerblue;
}
.status-aborded {
  background: coral;
  color: tomato;
}
.status-no-status {
  background: grey;
  color: white;
}
